.tabs{
    margin-top: 20px;
    margin-left: 100px;
}
.tabs a{
    border: 1px solid #ddd;
    padding:2px 10px;
}
.tabs a.active{
    background-color: orange;
}
.tabs-content{
    margin-left: 100px;
    margin-top: 20px;
}